<h2 class="text-center">Sign up</h2>
<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="grid-x grid-padding-x">
    <div class="small-3 cell">
      <%= f.label :email, class: "text-right middle" %><br />
    </div>
    <div class="small-6 cell">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="small-3 cell">
      <%= f.label :password, class: "text-right middle" %>
    </div>
    <div class="small-6 cell">
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  </div>

  <br>
  <div class="grid-x grid-padding-x">
    <div class="small-3 cell">
      <%= f.label :password_confirmation, class: "text-right middle" %><br />
    </div>
    <div class="small-6 cell">
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="actions grid-x grid-padding-x">
    <div class="small-6 cell"></div>
    <div class="small-3 cell float-right text-right">
      <button type="submit" class="button radius bordered shadow primary float-right">Sign up</button>
    </div>
  </div>
<% end %>
<br>
<div class="actions grid-x grid-padding-x">
  <div class="small-6 cell"></div>
  <div class="small-3 cell float-right text-right">
    <%= link_to "Log in", new_session_path(resource_name) %><br />
  </div>
</div>
